# Database
DATABASE_URL="postgresql://user:password@localhost:5432/novelscope?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# DeepSeek API
DEEPSEEK_API_KEY=""

# Claude API
ANTHROPIC_API_KEY=""

# Pinecone
PINECONE_API_KEY=""
PINECONE_ENVIRONMENT=""
PINECONE_INDEX=""

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:3001"
