# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare text files
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.prisma text eol=lf
*.mjs text eol=lf
*.mts text eol=lf
*.sh text eol=lf

# Declare binary files
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
